@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html, 
body {
	height: 100%;
}

body {
	display: flex;
  	flex-direction: column;
}

.App {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	font-family: "Press Start 2P", Times, serif;
}

.center-horizontally {
	left: 50%;
	-ms-transform: translate(-55%, 0%);
	transform: translate(-55%, 0%);
}

.fill-screen {
	transform: scale(2, 1);
	height: 100%;
	width: 100%;
}

.menu {
	display: inline-block;
}

.menu td {
	padding-top: 10px;
}

.footer-text {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 34px;
	padding-right: 10px;
}

.is-ready-menu {
	display: block;
	clear: both;
}

.is-ready-menu label {
	padding-left: 30px;
}

.nes-mario.mario-head-only {
	height: 48px;
	margin-left: -10px;
}

.footer {
	position: fixed;
 	height: 58px;
	line-height: 58px;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #e9eef8;
}

.footer a {
	padding: 5px;
}

.footer i {
	margin-top: 5px;
}