@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html, 
body {
	height: 100%;
}

body {
	display: flex;
  	flex-direction: column;
}

.app {
	position: absolute;
	width: 80%;
    top: 10%;
    bottom: 0%;
    left: 50%;
    margin-top: 70px;
    margin-bottom: 430px;
	transform: translate(-50%, -40%);
	font-family: "Press Start 2P", Times, serif;
}

.are-you-ready {
	text-align: center;
}

.built-with-container {
	left: 50%;
	transform: translate(-50%, 0%);
	width: 70%;
}

.built-with-image {
	margin-left: 10px;
	margin-right: 10px;
}

.fill-screen {
	height: 100%;
	width: 100%;
}

.footer {
	position: fixed;
 	height: 58px;
	line-height: 58px;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #e9eef8;
	z-index: 3;
}

.footer a {
	padding: 5px;
}

.footer i {
	margin-top: 5px;
}

.footer-text {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 34px;
	padding-right: 10px;
}

.header {
	position: fixed;
 	height: 58px;
	line-height: 58px;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #e9eef8;
	z-index: 3;
}

.header-button {
	padding-left: 25px;
}

.header-button:hover {
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.header-logo {
	padding-right: 75px;
}

img {
	image-rendering: pixelated;
}

.is-ready-menu {
	display: block;
	clear: both;
}

.is-ready-menu label:nth-child(odd) {
	margin-left: -17px;
}

.is-ready-menu label:nth-child(even) {
	padding-left: 20px;
}

.loading {
	padding: 10px;
}

.menu {
	display: inline-block;
}

.menu td {
	padding-top: 10px;
}

.nes-mario.mario-head-only {
	height: 48px;
	margin-left: -10px;
}

.sankey-chart {
	width: 100%;
	display: inline-block;
}
