@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

.menu {
  display: inline-block;
}

.menu td {
  padding-top: 10px;
}
